<app-collection-pager
  [maxPages]="maxPages" [perPage]="perPage" [listLength]="gameList.length" (pageChanged)="pageChanged($event)"
></app-collection-pager>

<ul class="list-group">
  <div *ngFor="let game of gameList; let i = index">
    <a class="list-group-item list-group-item-action" *ngIf="(i >= firstIndex) && (i <= lastIndex)"
      [routerLink]="['/collection', game.slug, 'view']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <b>{{ game.name }} </b> <i class="fas fa-chevron-circle-right"></i>
      <br>
      <span *ngFor="let plat of game.platforms" class="badge">{{ plat }}</span>
    </a>
  </div>
</ul>
