<br>

<div class="container">
  <div class="card bg-inventory text-light text-center">
    <img src="../../assets/images/splash.jpg" class="card-img-top" alt="Inventory">
    <div class="card-body">
      <h1 class="card-title">Your Collection in One Place</h1>
      <p class="card-text">Catalog all your games to know what you've played (and what you will play next!)</p>
      <a class="btn btn-inventory-darkest btn-lg" routerLink="register" role="button">Create your account now!</a>
    </div>
  </div>
</div>
