<img src="../../assets/images/splash.jpg" class="img-fluid">

<div class="jumbotron jumbotron-fluid bg-inventory text-light">
  <div class="container">
    <h1 class="display-4">Your Collection in One Place</h1>
    <p class="lead">Catalog all your games to know what you've played (and what you will play next!)</p>
    <hr class="my-4">
    <p>Using Inventory, all your games can be organized using categories, tags and star rating. </p>
    <a class="btn btn-primary btn-inventory-darkest btn-lg" routerLink="register" role="button">Create your account now!</a>
  </div>
</div>
