<br>

<div class="container">
<div class="row">
  <div class="card col-12 border-0">
    <div class="card-body mx-auto">

      <div class="btn-group mr-2" role="group">
        <button routerLink="/collection/new" type="button" class="btn btn-inventory">
          <i class="fas fa-plus"></i> Add Game
        </button>
      </div>

      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-inventory">
          <i class="fas fa-tags"></i> Manage Tags
        </button>
      </div>

    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-6">
    <app-collection-list></app-collection-list>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>

</div>