<div class="card">
  <div class="card-header text-light bg-inventory">
    <b>New Game</b>
  </div>
  <div class="card-body">
    <p class="card-text"><b class="text-inventory">Name: </b> </p>
    <p class="card-text"><b class="text-inventory">Launch Date: </b> </p>
    <p class="card-text"><b class="text-inventory">Developer: </b> </p>
    <p class="card-text"><b class="text-inventory">Publisher: </b> </p>
    <p class="card-text"><b class="text-inventory">Genre: </b> </p>
    <p class="card-text"><b class="text-inventory">Platforms: </b> </p>
  </div>
  <div class="card-footer bg-inventory">
    <a [routerLink]="" class="card-link text-light"><i class="fas fa-check"></i> <b> Confirm</b></a>
    <a [routerLink]="" class="card-link text-light"><i class="fas fa-times"></i> <b> Cancel</b></a>
  </div>
</div>
