@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/navbar";

// Site Colors
$inventoryDefaultColor: $purple;
$inventoryDarkColor: darken($inventoryDefaultColor, 20);
$inventoryDarkestColor: darken($inventoryDefaultColor, 40);
$inventoryLightColor: lighten($inventoryDefaultColor, 20);

$theme-colors: (
    "inventory": $inventoryDefaultColor,
    "inventory-dark": $inventoryDarkColor,
    "inventory-darkest": $inventoryDarkestColor,
    "inventory-light": $inventoryLightColor
);

// Footer

$footerHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $inventoryDarkColor;
}

@import "../node_modules/bootstrap/scss/bootstrap";