$inventoryRefColor: #6f42c1;

$component-active-bg: $inventoryRefColor;
$list-group-action-active-color: white;
$list-group-action-hover-color: $inventoryRefColor;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/navbar";

// Site Colors
$inventoryDefaultColor: $inventoryRefColor;
$inventoryDarkColor: darken($inventoryDefaultColor, 20);
$inventoryDarkestColor: darken($inventoryDefaultColor, 40);
$inventoryLightColor: lighten($inventoryDefaultColor, 20);

$theme-colors: (
    "inventory": $inventoryDefaultColor,
    "inventory-dark": $inventoryDarkColor,
    "inventory-darkest": $inventoryDarkestColor,
    "inventory-light": $inventoryLightColor
);

// Footer
$footerHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $inventoryDarkColor;
}

@import "../node_modules/bootstrap/scss/bootstrap";